numpy
librosa
soundfile
mir-eval
pretty-midi>=0.2.9
resampy<0.4.3,>=0.2.2
scikit-learn
scipy>=1.4.1
typing-extensions
onnxruntime
setuptools
fastapi
uvicorn[standard]
pydantic>=2
python-multipart
httpx
pytest
pytest-asyncio
pytest-cov
yt-dlp
ruff
black
mypy
basic-pitch
