numpy
librosa
soundfile
mir-eval
pretty-midi>=0.2.9
resampy<0.4.3,>=0.2.2
scipy>=1.4.1
typing-extensions
onnxruntime
setuptools<81
fastapi
uvicorn[standard]
pydantic>=2
python-multipart
httpx
pytest
yt-dlp
